---
// Importamos el componente que creamos antes
import Juego from '../components/Juego.svelte';
import '../styles/global.css';
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Hitster" />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script is:inline>
            if (/Android TV|BRAVIA|SmartTV|GoogleTV|AFT|AFTM|CrKey|Web0S|Tizen|Viera|NetCast|Roku/i.test(navigator.userAgent) ||
                (window.screen.width >= 1920 && /Android/i.test(navigator.userAgent) && !/Mobile/i.test(navigator.userAgent))) {
                document.querySelector('meta[name="viewport"]').setAttribute('content', 'width=1280, initial-scale=1');
            }
        </script>
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#1e1b4b" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <title>Hitster Clásicos</title>
    </head>
    <body class="bg-gray-50">
        <Juego client:load />
    </body>
</html>